.pizza-viewer {
  width: 530px;
  height: 342px;
}

.pizza {
  width: 530px;
  height: 342px;
  position: absolute;
  z-index: 1;
  transform: translate3d(-530px, -282px, 0);
  transition: transform 0.2s;
}

.pizza--active {
  transform: translate3d(0, -30px, 0);
}

.pizza__board {
  background: url(/toppings/board.svg) no-repeat 0 20px;
  background-size: contain;
  width: 500px;
  height: 342px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
}

.pizza__base {
  background: url(/toppings/base.svg) no-repeat;
  background-size: contain;
  width: 390px;
  height: 322px;
  position: absolute;
  right: 23px;
  top: 30px;
  z-index: 2;
}

.pizza__toppings {
  width: 352px;
  height: 190px;
  position: absolute;
  right: 42px;
  top: 46px;
  z-index: 3;
}

.pizza__topping {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  animation: fallIn 0.4s ease-in;
}

.pizza__topping--anchovy {
  background-image: url(/toppings/anchovy.svg);
  width: 51px;
  height: 37px;
}
.pizza__topping--anchovy:nth-child(1) {
  left: 140px;
  top: 26px;
}
.pizza__topping--anchovy:nth-child(2) {
  left: 8px;
  top: 82px;
}
.pizza__topping--anchovy:nth-child(3) {
  left: 263px;
  top: 95px;
}
.pizza__topping--anchovy:nth-child(4),
.pizza__topping--anchovy:nth-child(5) {
  display: none;
}

.pizza__topping--bacon {
  background-image: url(/toppings/bacon.svg);
  width: 56px;
  height: 31px;
}

.pizza__topping--bacon:nth-child(1) {
  left: 124px;
  top: 50px;
}
.pizza__topping--bacon:nth-child(2) {
  left: 39px;
  top: 100px;
}
.pizza__topping--bacon:nth-child(3) {
  left: 132px;
  top: 86px;
}
.pizza__topping--bacon:nth-child(4) {
  left: 199px;
  top: 59px;
}
.pizza__topping--bacon:nth-child(5) {
  left: 140px;
  top: 154px;
}

.pizza__topping--basil {
  background-image: url(/toppings/basil.svg);
  width: 46px;
  height: 32px;
}

.pizza__topping--basil:nth-child(1) {
  left: 136px;
  top: 63px;
}
.pizza__topping--basil:nth-child(2) {
  left: 126px;
  top: 127px;
}
.pizza__topping--basil:nth-child(3) {
  left: 222px;
  top: 98px;
}
.pizza__topping--basil:nth-child(4),
.pizza__topping--basil:nth-child(5) {
  display: none;
}

.pizza__topping--chili {
  background-image: url(/toppings/chili.svg);
  width: 63px;
  height: 35px;
}

.pizza__topping--chili:nth-child(1) {
  left: 150px;
  top: 40px;
}
.pizza__topping--chili:nth-child(2) {
  left: 68px;
  top: 77px;
}
.pizza__topping--chili:nth-child(3) {
  left: 52px;
  top: 144px;
}
.pizza__topping--chili:nth-child(4) {
  left: 210px;
  top: 17px;
}
.pizza__topping--chili:nth-child(5) {
  left: 240px;
  top: 120px;
}

.pizza__topping--mozzarella {
  background-image: url(/toppings/mozzarella.svg);
  width: 46px;
  height: 32px;
}
.pizza__topping--mozzarella:nth-child(1) {
  left: 6px;
  top: 106px;
}
.pizza__topping--mozzarella:nth-child(2) {
  left: 186px;
  top: 114px;
}
.pizza__topping--mozzarella:nth-child(3) {
  left: 162px;
  top: 8px;
}
.pizza__topping--mozzarella:nth-child(4),
.pizza__topping--mozzarella:nth-child(5) {
  display: none;
}
.pizza__topping--mushroom {
  background-image: url(/toppings/mushroom.svg);
  width: 45px;
  height: 26px;
}

.pizza__topping--mushroom:nth-child(1) {
  left: 120px;
  top: 20px;
}
.pizza__topping--mushroom:nth-child(2) {
  left: 40px;
  top: 60px;
}
.pizza__topping--mushroom:nth-child(3) {
  left: 90px;
  top: 120px;
}
.pizza__topping--mushroom:nth-child(4) {
  left: 240px;
  top: 30px;
}
.pizza__topping--mushroom:nth-child(5) {
  left: 220px;
  top: 129px;
}

.pizza__topping--olive {
  background-image: url(/toppings/olive.svg);
  width: 45px;
  height: 26px;
}
.pizza__topping--olive:nth-child(1) {
  left: 161px;
  top: 60px;
}
.pizza__topping--olive:nth-child(2) {
  left: 90px;
  top: 57px;
}
.pizza__topping--olive:nth-child(3) {
  left: 110px;
  top: 110px;
}
.pizza__topping--olive:nth-child(4) {
  left: 279px;
  top: 47px;
}
.pizza__topping--olive:nth-child(5) {
  display: none;
}

.pizza__topping--onion {
  background-image: url(/toppings/onion.svg);
  width: 57px;
  height: 36px;
}
.pizza__topping--onion:nth-child(1) {
  left: 101px;
  top: 55px;
}
.pizza__topping--onion:nth-child(2) {
  left: 10px;
  top: 61px;
}
.pizza__topping--onion:nth-child(3) {
  left: 261px;
  top: 55px;
}
.pizza__topping--onion:nth-child(4) {
  left: 172px;
  top: 132px;
}
.pizza__topping--onion:nth-child(5) {
  display: none;
}
.pizza__topping--pepper {
  background-image: url(/toppings/pepper.svg);
  width: 57px;
  height: 36px;
}
.pizza__topping--pepper:nth-child(1) {
  left: 122px;
  top: 30px;
}
.pizza__topping--pepper:nth-child(2) {
  left: 175px;
  top: 87px;
}
.pizza__topping--pepper:nth-child(3) {
  left: 30px;
  top: 81px;
}
.pizza__topping--pepper:nth-child(4) {
  left: 282px;
  top: 69px;
}
.pizza__topping--pepper:nth-child(5) {
  left: 105px;
  top: 147px;
}
.pizza__topping--pepperoni {
  background-image: url(/toppings/pepperoni.svg);
  width: 57px;
  height: 36px;
}
.pizza__topping--pepperoni:nth-child(1) {
  left: 222px;
  top: 35px;
}
.pizza__topping--pepperoni:nth-child(2) {
  left: 145px;
  top: 107px;
}
.pizza__topping--pepperoni:nth-child(3) {
  left: 81px;
  top: 21px;
}
.pizza__topping--pepperoni:nth-child(4) {
  left: 221px;
  top: 80px;
}
.pizza__topping--pepperoni:nth-child(5) {
  left: 75px;
  top: 137px;
}

.pizza__topping--sweetcorn {
  background-image: url(/toppings/sweetcorn.svg);
  width: 57px;
  height: 36px;
}
.pizza__topping--sweetcorn:nth-child(1) {
  left: 192px;
  top: 35px;
}
.pizza__topping--sweetcorn:nth-child(2) {
  left: 41px;
  top: 41px;
}
.pizza__topping--sweetcorn:nth-child(3) {
  left: 212px;
  top: 146px;
}
.pizza__topping--sweetcorn:nth-child(4),
.pizza__topping--sweetcorn:nth-child(5) {
  display: none;
}

.pizza__topping--tomato {
  background-image: url(/toppings/tomato.svg);
  width: 57px;
  height: 36px;
}
.pizza__topping--tomato:nth-child(1) {
  left: 175px;
  top: 147px;
}
.pizza__topping--tomato:nth-child(2) {
  left: 41px;
  top: 41px;
}
.pizza__topping--tomato:nth-child(3) {
  left: 85px;
  top: 100px;
}
.pizza__topping--tomato:nth-child(4) {
  left: 280px;
  top: 99px;
}
.pizza__topping--tomato:nth-child(5) {
  display: none;
}

@keyframes fallIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
